html, body, #root {
	height: 100%;
}

.my-markdown {
	& * {
		white-space: normal;
		word-break: break-word;
	}

	& blockquote {
		border-left: 0.5em solid lightgrey;
		padding: 0.5em 1em;
	}

	& h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, li, ol, dl, dt, dd {
		margin: 0;
	}

	& code, pre {
		white-space: pre-wrap;
	}

	.syntax-highlighter {
		border-radius: 5px;
		margin-top: 4px;
		margin-bottom: 4px;
	}

	& ul, ol, dl {
		padding-left: 1em;
	}

	& a:link {
		color: #ffb000;
	}

	& a:visited {
		color: #ffa000;
	}
}