html, body, #root {
	height: 100%;
}

.my-markdown {
	& * {
		margin: 0;
		white-space: normal;
		word-break: break-word;
	}

	& blockquote {
		border-left: 0.5em solid lightgrey;
		margin: auto 0;
		padding: 0 1em;
	}

	& ul {
		padding-left: 1em;
	}

	& a:link {
		color: #ffb000;
	}

	& a:visited {
		color: #ffa000;
	}
}